.project
.classpath
.settings/
.sonar
*.class
bin/
target/
target/classes/
.factorypath
.directory
*.iml
.idea
*/rebel.xml
.vscode
rebel.xml
/.gitlab-ci.yml
src/main/java/br/amazoninf/plugin/nlp/ConnectionFactory.java
